<div class="container">
    <div class="row">
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li><a ng-href="#/">Login</a></li>
                <li class="active"><a>Create Account</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="login">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 well login-form">
                        <form name="accountForm" class="form-horizontal" ng-submit="createAccount()">
                            <legend>Create account</legend>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" for="inputFirstName">First name</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" class="form-control" name="firstName" id="inputFirstName" placeholder="Your first name" ng-model="signup.firstName" required ng-trim="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" for="inputLastName">Last name</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" class="form-control" name="lastName" id="inputLastName" placeholder="Your last name" ng-model="signup.lastName" required ng-trim="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" for="inputUsername">Username</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Your username" ng-model="signup.username" required ng-trim="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" for="inputPassword">Password</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Your password" required ng-change="change()" ng-model="signup.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" for="confirmation">Password confirmation</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input type="password" class="form-control" name="confirmation" id="confirmation" placeholder="Confirmed password" required ng-change="change()" ng-model="signup.confirmation">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8
                                    col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                                    <button type="submit" class="btn btn-success">Create account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 login-form">
                        <div class="center-wrapper">
                            <div class="center-child">
                                <img src="http://dummyimage.com/300x300&text=YOLO" alt="Image" />
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" ng-show="signup.error">
                        <p ng-show="!signup.passwordIdentical">
                            <strong>Password</strong> and <strong>Password confirmation</strong> must be identical.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
