<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h4><strong>Hospital name</strong></h4>
            <h3><strong>Prescription</strong></h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <strong>Patient name:</strong> [[export.patient_name]]
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                <strong>Gender:</strong> [[export.gender]]
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
                <strong>Age:</strong> [[export.age]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong>Address:</strong> [[export.address]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong>Phone number:</strong> [[export.phone]]
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <strong>Diagnosis:</strong> [[export.icd_name]]
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                <strong>ICD code:</strong> [[export.icd_code]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong>Outcome:</strong> [[export.outcome]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong>Prescribed by:</strong> [[export.prescriptions.doctor_name]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" ng-repeat="prescription in export.prescriptions.data">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <strong>[[$index + 1]] [[prescription.drug_name]]</strong>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right"><strong>Quantity:</strong> [[prescription.quantity]]</div>
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <em>Notice:</em> [[prescription.notice]]
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>Morning:</strong> [[prescription.morning]]</div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>Noon:</strong> [[prescription.noon]]</div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>Afternoon:</strong> [[prescription.afternoon]]</div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><strong>Evening:</strong> [[prescription.evening]]</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong>Lab orders by:</strong> [[export.lab_orders.doctor_name]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" ng-repeat="lab_order in export.lab_orders.data">
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <strong>[[$index + 1]] Result:</strong> [[lab_order.result]]
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong>Service type:</strong> [[export.services.service_type]]
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" ng-repeat="service in export.services.data">
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <strong>[[$index + 1]] [[service.medical_service_name]]</strong>
                    </div>
                </div>
                <strong>Revisit date:</strong> [[export.revisit_data]]</br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 text-center">
                        <strong>Doctor's signature</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
