<div class="container">
	<div class="row">
		<nav class="navbar navbar-default col-xs-12 col-sm-12 col-md-12 col-lg-12" role="navigation">
		    <div class="navbar-header">
                <a class="navbar-brand" ng-click="changeTemplateUrl('main.html')">PKĐK Phước An</a>
			</div>
		    <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
				    <li ng-class="{active: sharedTemplate.url === 'partials/doctor.html'}"><a ng-click="changeTemplateUrl('doctor.html')">Danh sách bác sĩ</a></li>
				    <li ng-class="{active: sharedTemplate.url === 'partials/patient.html'}"><a ng-click="changeTemplateUrl('patient.html')">Danh sách bệnh nhân</a></li>
				    <li ng-class="{active: sharedTemplate.url === 'partials/icd.html'}"><a ng-click="changeTemplateUrl('icd.html')">Mã bệnh</a></li>
				    <li ng-class="{active: sharedTemplate.url === 'partials/drug.html'}"><a ng-click="changeTemplateUrl('drug.html')">Danh mục thuốc</a></li>
				    <li ng-class="{active: sharedTemplate.url === 'partials/medical-service.html'}"><a ng-click="changeTemplateUrl('medical-service.html')">Dịch vụ y tế</a></li>
				    <li ng-class="{active: sharedTemplate.url === 'partials/medical-history.html'}"><a ng-click="changeTemplateUrl('medical-history.html')">Khám bệnh</a></li>
			    </ul>
		    </div>
		</nav>
	</div>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<ul class="nav nav-pills nav-stacked">
			    <li><strong>Menu</strong></li><hr />
			    <li ng-class="{active: sharedTemplate.url === 'partials/main.html'}"><a ng-click="changeTemplateUrl('main.html')"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
			    <li><a><span class="glyphicon glyphicon-user"></span> Vai trò</a></li>
			    <li><a><span class="glyphicon glyphicon-envelope"></span> Tin nhắn</a></li>
			    <hr />
			    <li><a><span class="glyphicon glyphicon-comment"></span> Tùy chỉnh</a></li>
			    <li><a ng-click="logout()"><span class="glyphicon glyphicon-share"></span> Thoát</a></li>
		    </ul>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
	    	<div class="row">
	    		<div class="well-padding" ng-include="sharedTemplate.url"></div>
	    	</div>
		</div>
	</div>
</div>
