<div class="container">
    <div class="row-fluid">
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active"><a>Login</a></li>
                <li><a ng-href="#create-account">Create Account</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="login">
                <div class="row-fluid">
                    <div class="span8 well login-form">
                        <form name="loginForm" class="form-horizontal" ng-submit="login()">
                            <legend>Login</legend>
                            <div class="control-group">
                                <label class="control-label" for="inputUsername">Username</label>
                                <div class="controls">
                                    <input type="text" id="inputUsername" placeholder="Your Username"
                                        ng-model="signin.username" required ng-trim="true">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Password</label>
                                <div class="controls">
                                    <input type="password" id="inputPassword" placeholder="Password"
                                        ng-model="signin.password" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="signin.remember"> Remember me
                                    </label>
                                    <button type="submit" class="btn btn-success">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="span4 login-form">
                        <div class="center-wrapper">
                            <div class="center-child">
                                <img src="http://dummyimage.com/300x300&text=YOLO" alt="Image" />
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
