<div ng-controller="MedicalHistoryController">
	<div class="row">
		<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<input type="text" class="form-control negative-margin-left" ng-model="query" ng-change="filter()" placeholder="Search ...">
		</div>
		<a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 btn btn-large btn-success" ng-click="create.toggle = true; edit.toggle = false">Create</a>
	</div>
	<!-- Display form -->
	<div class="row">
	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 my-well" ng-repeat="medicalHistory in medicalHistories" ng-hide="create.toggle || edit.toggle">
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            <strong>Visit date: </strong>[[medicalHistory.visit_date]]
	        </div>
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            <strong>Patient name: </strong>[[medicalHistory.patient_name]]
	        </div>
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            <strong>ICD: </strong>[[medicalHistory.icd_code]]
	        </div>
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	            <strong>Outcome: </strong>[[medicalHistory.outcome]]
	        </div>
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        	<div class="row">
	        		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			        	<a class="lead" ng-click="medicalHistory.showMore = !medicalHistory.showMore">
			        		[[medicalHistory.showMore && 'Show less' || 'Show more']]
			        	</a>
	        		</div>
	        		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
			        	<ul class="list-inline">
							<li><a class="btn btn-large btn-primary" ng-click="edit.toggle = true; editRecord($index)">
								<span class="glyphicon glyphicon-pencil"></span>
							</a></li>
							<li><a class="btn btn-large btn-primary" ng-click="delete($index)">
								<span class="glyphicon glyphicon-remove"></span>
							</a></li>
							<li><a class="btn btn-large btn-primary" ng-click="export($index)">
								<span class="glyphicon glyphicon-share-alt"></span>
							</a></li>
						</ul>
	        		</div>
	        	</div>
	        </div>
	        <div ng-show="medicalHistory.showMore">
		        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            <strong>Prescription by: </strong>[[medicalHistory.prescriptions.doctor_name]]
		        </div>
		        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" ng-show="medicalHistory.prescriptions.data.length != 0">
		                <table class="table table-hover">
		                    <thead>
		                        <tr>
		                            <th>Drug name</th>
		                            <th>Quantity</th>
		                            <th>Dose</th>
		                            <th>Notice</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr ng-repeat="prescription in medicalHistory.prescriptions.data">
		                            <td>
		                                [[prescription.drug_name]]
		                            </td>
		                            <td>
		                                [[prescription.quantity]]
		                            </td>
		                            <td>
		                                [[prescription.dose]]
		                            </td>
		                            <td>
		                                [[prescription.notice]]
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		    		<strong>Lab order by: </strong>[[medicalHistory.lab_orders.doctor_name]]
		        </div>
		        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" ng-show="medicalHistory.lab_orders.data.length != 0">
		                <table class="table table-hover">
		                    <thead>
		                        <tr>
		                            <th>Result</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr ng-repeat="labOrder in medicalHistory.lab_orders.data">
		                            <td>
		                                [[labOrder.result]]
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		    		<strong>Service type: </strong>[[medicalHistory.services.service_type]]
		        </div>
		        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" ng-show="medicalHistory.services.data.length != 0">
		                <table class="table table-hover">
		                    <thead>
		                        <tr>
		                            <th>Medical service</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr ng-repeat="service in medicalHistory.services.data">
		                            <td>
		                                [[service.medical_service_name]]
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>

    <div class="row" ng-hide="create.toggle || edit.toggle">
	    <paggie elements="noElements" callback="toPage(page)"></paggie>
    </div>
    
    <!-- Create form -->
    <form class="form-horizontal" ng-show="create.toggle">
		<legend>Create form</legend>
		<!-- Visit Date -->
		<div class="form-group">
		    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Date</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div class="input-group date">
					<input class="datepicker form-control" ng-model="create.visit_date" data-date-format="dd/mm/yyyy" name="datepicker" placeholder="Enter visit date"/>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
		    </div>
		</div>
		<!-- Patient Name -->
		<div class="form-group">
		    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Patient Name</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="create.patient_name"
					typeahead="patient.name for patient in getPatients($viewValue) | filter:$viewValue"
					placeholder="Enter patient name">
		    </div>
		</div>
		<!-- Enter ICD -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">ICD</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="create.icd_code"
					typeahead-template-url="partials/icd-typeahead-template.html"
					typeahead="icd.code for icd in getICDs($viewValue) | filter:$viewValue"
					placeholder="Enter ICD">
		    </div>
		</div>
		<!-- Prescribe by -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Prescribed by</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="create.prescriptions.doctor_name"
					typeahead="doctor.name for doctor in getDoctors($viewValue) | filter:$viewValue"
					placeholder="Enter doctor name">
		    </div>
		</div>
		<!-- Prescriptions -->
		<div class="form-group" ng-show="create.prescriptions.data.length != 0">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Drug name</th>
							<th>Quantity</th>
							<th>Dose</th>
							<th>Notice</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="prescription in create.prescriptions.data">
							<td>
								<span ng-hide="prescription.editMode" ng-bind="prescription.drug_name"></span>
								<input type="text" class="form-control" 
									ng-show="prescription.editMode"
									ng-model="prescription.drug_name"
									typeahead="drug.name for drug in getDrugs($viewValue) | filter:$viewValue"
									placeholder="Enter drug name">
							</td>
							<td>
								<inputie 
									data="prescription.quantity" 
									place-holder="Enter quantity" 
									edit-mode="prescription.editMode">
								</inputie>
							</td>
							<td>
								<inputie 
									data="prescription.dose" 
									place-holder="Enter dose" 
									edit-mode="prescription.editMode">
								</inputie>
							</td>
							<td>
								<inputie 
									data="prescription.notice" 
									place-holder="Enter notice" 
									edit-mode="prescription.editMode">
								</inputie>
							</td>
							<td>
								<ul class="list-inline">
									<li><a class="black-color" ng-click="prescription.editMode = !prescription.editMode">
										<span class="glyphicon glyphicon-pencil"></span>
									</a></li>
									<li><a class="black-color" 
										ng-click="deleteElement(create.prescriptions.data, $index, 1)">
										<span class="glyphicon glyphicon-remove"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		</div>
		<!-- Enter Prescription -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		    	<table class="table" ng-show="create.prescriptions.new.show">
					<thead>
						<tr>
							<th>Drug name</th>
							<th>Quantity</th>
							<th>Dose</th>
							<th>Notice</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" 
									ng-model="create.prescriptions.new.drug_name"
									typeahead="drug.name for drug in getDrugs($viewValue) | filter:$viewValue"
									placeholder="Enter drug name">
							</td>
							<td>
								<input type="text" ng-model="create.prescriptions.new.quantity" class="form-control" placeholder="Quantity">
							</td>
							<td>
								<input type="text" ng-model="create.prescriptions.new.dose" class="form-control" placeholder="Dose">
							</td>
							<td>
								<input type="text" ng-model="create.prescriptions.new.notice" class="form-control" placeholder="Notice">
							</td>
							<td>
								<ul class="list-inline">
									<button type="button" class="btn btn-warning" ng-click="input(create.prescriptions)">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="enter(create.prescriptions.new)">
					<span ng-class="{'glyphicon glyphicon-plus': !create.prescriptions.new.show, 'glyphicon glyphicon-minus': create.prescriptions.new.show}"></span>
				</button>
		    </div>
		</div>
		<!-- Lab Order by -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Lab Order by</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="create.lab_orders.doctor_name"
					typeahead="doctor.name for doctor in getDoctors($viewValue) | filter:$viewValue"
					placeholder="Enter doctor name">
		    </div>
		</div>
		<!-- Lab Orders -->
		<div class="form-group" ng-show="create.lab_orders.data.length != 0">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Result</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="labOrder in create.lab_orders.data">
							<td>
								<inputie 
									data="labOrder.result" 
									place-holder="Enter result" 
									edit-mode="labOrder.editMode">
								</inputie>
							</td>
							<td>
								<ul class="list-inline">
									<li><a class="black-color" ng-click="labOrder.editMode = !labOrder.editMode">
										<span class="glyphicon glyphicon-pencil"></span>
									</a></li>
									<li><a class="black-color" 
										ng-click="deleteElement(create.lab_orders.data, $index, 1)">
										<span class="glyphicon glyphicon-remove"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		</div>
		<!-- Enter Lab Order -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		    	<table class="table" ng-show="create.lab_orders.new.show">
					<thead>
						<tr>
							<th>Result</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" ng-model="create.lab_orders.new.result" class="form-control" placeholder="Result">
							</td>
							<td>
								<ul class="list-inline">
									<button type="button" class="btn btn-warning" ng-click="input(create.lab_orders)">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="enter(create.lab_orders.new)">
					<span ng-class="{'glyphicon glyphicon-plus': !create.lab_orders.new.show, 'glyphicon glyphicon-minus': create.lab_orders.new.show}"></span>
				</button>
		    </div>
		</div>
		<!-- Service type -->
		<div class="form-group">
		    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Service type</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" ng-model="create.services.service_type" ng-trim="true" placeholder="Enter service type">
		    </div>
		</div>
		<!-- Services -->
		<div class="form-group" ng-show="create.services.data.length != 0">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Medical Service</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="service in create.services.data">
							<td>
								<span ng-hide="service.editMode" ng-bind="service.medical_service_name"></span>
								<input type="text" class="form-control" 
									ng-show="service.editMode"
									ng-model="service.medical_service_name"
									typeahead="medicalService.name for medicalService in getMedicalServices($viewValue) | filter:$viewValue"
									placeholder="Enter medical service's name">
							</td>
							<td>
								<ul class="list-inline">
									<li><a class="black-color" ng-click="service.editMode = !service.editMode">
										<span class="glyphicon glyphicon-pencil"></span>
									</a></li>
									<li><a class="black-color" 
										ng-click="deleteElement(create.services.data, $index, 1)">
										<span class="glyphicon glyphicon-remove"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		</div>
		<!-- Enter Service -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		    	<table class="table" ng-show="create.services.new.show">
					<thead>
						<tr>
							<th>Service name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" 
									ng-model="create.services.new.medical_service_name"
									typeahead="medicalService.name for medicalService in getMedicalServices($viewValue) | filter:$viewValue"
									placeholder="Enter medical service's name">
							</td>
							<td>
								<ul class="list-inline">
									<button type="button" class="btn btn-warning" ng-click="input(create.services)">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="enter(create.services.new)">
					<span ng-class="{'glyphicon glyphicon-plus': !create.services.new.show, 'glyphicon glyphicon-minus': create.services.new.show}"></span>
				</button>
		    </div>
		</div>
		<!-- Enter outcome -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Outcome</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" ng-model="create.outcome" placeholder="Enter Outcome">
		    </div>
		</div>
		<!-- Finish -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-right">
				<button type="submit" class="btn btn-info" ng-click="createSubmit()">Finish</button>
				<button type="submit" class="btn btn-danger" ng-click="create.toggle = false; create.reset()">Cancel</button>
		    </div>
		</div>
	</form>

	<!-- Edit form -->
	<form class="form-horizontal" ng-show="edit.toggle">
		<legend>Edit form</legend>
		<!-- Visit Date -->
		<div class="form-group">
		    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Date</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div class="input-group date">
					<input class="datepicker form-control" ng-model="edit.visit_date" data-date-format="dd/mm/yyyy" name="datepicker" placeholder="Enter visit date"/>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
		    </div>
		</div>
		<!-- Patient Name -->
		<div class="form-group">
		    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Patient Name</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="edit.patient_name"
					typeahead="patient.name for patient in getPatients($viewValue) | filter:$viewValue"
					placeholder="Enter patient name">
		    </div>
		</div>
		<!-- Enter ICD -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">ICD</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="edit.icd_code"
					typeahead-template-url="partials/icd-typeahead-template.html"
					typeahead="icd.code for icd in getICDs($viewValue) | filter:$viewValue"
					placeholder="Enter ICD">
		    </div>
		</div>
		<!-- Prescribe by -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Prescribed by</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="edit.prescriptions.doctor_name"
					typeahead="doctor.name for doctor in getDoctors($viewValue) | filter:$viewValue"
					placeholder="Enter doctor name">
		    </div>
		</div>
		<!-- Prescriptions -->
		<div class="form-group" ng-show="edit.prescriptions.data.length != 0">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Drug name</th>
							<th>Quantity</th>
							<th>Dose</th>
							<th>Notice</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="prescription in edit.prescriptions.data">
							<td>
								<span ng-hide="prescription.editMode" ng-bind="prescription.drug_name"></span>
								<input type="text" class="form-control" 
									ng-show="prescription.editMode"
									ng-model="prescription.drug_name"
									typeahead="drug.name for drug in getDrugs($viewValue) | filter:$viewValue"
									placeholder="Enter drug name">
							</td>
							<td>
								<inputie 
									data="prescription.quantity" 
									place-holder="Enter quantity" 
									edit-mode="prescription.editMode">
								</inputie>
							</td>
							<td>
								<inputie 
									data="prescription.dose" 
									place-holder="Enter dose" 
									edit-mode="prescription.editMode">
								</inputie>
							</td>
							<td>
								<inputie 
									data="prescription.notice" 
									place-holder="Enter notice" 
									edit-mode="prescription.editMode">
								</inputie>
							</td>
							<td>
								<ul class="list-inline">
									<li><a class="black-color" ng-click="prescription.editMode = !prescription.editMode">
										<span class="glyphicon glyphicon-pencil"></span>
									</a></li>
									<li><a class="black-color" 
										ng-click="deleteElement(edit.prescriptions.data, $index, 1)">
										<span class="glyphicon glyphicon-remove"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		</div>
		<!-- Enter Prescription -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		    	<table class="table" ng-show="edit.prescriptions.new.show">
					<thead>
						<tr>
							<th>Drug name</th>
							<th>Quantity</th>
							<th>Dose</th>
							<th>Notice</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" 
									ng-model="edit.prescriptions.new.drug_name"
									typeahead="drug.name for drug in getDrugs($viewValue) | filter:$viewValue"
									placeholder="Enter drug name">
							</td>
							<td>
								<input type="text" ng-model="edit.prescriptions.new.quantity" class="form-control" placeholder="Quantity">
							</td>
							<td>
								<input type="text" ng-model="edit.prescriptions.new.dose" class="form-control" placeholder="Dose">
							</td>
							<td>
								<input type="text" ng-model="edit.prescriptions.new.notice" class="form-control" placeholder="Notice">
							</td>
							<td>
								<ul class="list-inline">
									<button type="button" class="btn btn-warning" ng-click="input(edit.prescriptions)">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="enter(edit.prescriptions.new)">
					<span ng-class="{'glyphicon glyphicon-plus': !edit.prescriptions.new.show, 'glyphicon glyphicon-minus': edit.prescriptions.new.show}"></span>
				</button>
		    </div>
		</div>
		<!-- Lab Order by -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Lab Order by</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" 
					ng-model="edit.lab_orders.doctor_name"
					typeahead="doctor.name for doctor in getDoctors($viewValue) | filter:$viewValue"
					placeholder="Enter doctor name">
		    </div>
		</div>
		<!-- Lab Orders -->
		<div class="form-group" ng-show="edit.lab_orders.data.length != 0">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Result</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="labOrder in edit.lab_orders.data">
							<td>
								<inputie 
									data="labOrder.result" 
									place-holder="Enter result" 
									edit-mode="labOrder.editMode">
								</inputie>
							</td>
							<td>
								<ul class="list-inline">
									<li><a class="black-color" ng-click="labOrder.editMode = !labOrder.editMode">
										<span class="glyphicon glyphicon-pencil"></span>
									</a></li>
									<li><a class="black-color" 
										ng-click="deleteElement(edit.lab_orders.data, $index, 1)">
										<span class="glyphicon glyphicon-remove"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		</div>
		<!-- Enter Lab Order -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		    	<table class="table" ng-show="edit.lab_orders.new.show">
					<thead>
						<tr>
							<th>Result</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" ng-model="edit.lab_orders.new.result" class="form-control" placeholder="Result">
							</td>
							<td>
								<ul class="list-inline">
									<button type="button" class="btn btn-warning" ng-click="input(edit.lab_orders)">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="enter(edit.lab_orders.new)">
					<span ng-class="{'glyphicon glyphicon-plus': !edit.lab_orders.new.show, 'glyphicon glyphicon-minus': edit.lab_orders.new.show}"></span>
				</button>
		    </div>
		</div>
		<!-- Service type -->
		<div class="form-group">
		    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Service type</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" ng-model="edit.services.service_type" ng-trim="true" placeholder="Enter service type">
		    </div>
		</div>
		<!-- Services -->
		<div class="form-group" ng-show="edit.services.data.length != 0">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Medical Service</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="service in edit.services.data">
							<td>
								<span ng-hide="service.editMode" ng-bind="service.medical_service_name"></span>
								<input type="text" class="form-control" 
									ng-show="service.editMode"
									ng-model="service.medical_service_name"
									typeahead="medicalService.name for medicalService in getMedicalServices($viewValue) | filter:$viewValue"
									placeholder="Enter medical service's name">
							</td>
							<td>
								<ul class="list-inline">
									<li><a class="black-color" ng-click="service.editMode = !service.editMode">
										<span class="glyphicon glyphicon-pencil"></span>
									</a></li>
									<li><a class="black-color" 
										ng-click="deleteElement(edit.services.data, $index, 1)">
										<span class="glyphicon glyphicon-remove"></span>
									</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
		    </div>
		</div>
		<!-- Enter Service -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
		    	<table class="table" ng-show="edit.services.new.show">
					<thead>
						<tr>
							<th>Service name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" class="form-control" 
									ng-model="edit.services.new.medical_service_name"
									typeahead="medicalService.name for medicalService in getMedicalServices($viewValue) | filter:$viewValue"
									placeholder="Enter medical service's name">
							</td>
							<td>
								<ul class="list-inline">
									<button type="button" class="btn btn-warning" ng-click="input(edit.services)">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-success" ng-click="enter(edit.services.new)">
					<span ng-class="{'glyphicon glyphicon-plus': !edit.services.new.show, 'glyphicon glyphicon-minus': edit.services.new.show}"></span>
				</button>
		    </div>
		</div>
		<!-- Enter outcome -->
		<div class="form-group">
			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Outcome</label>
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" ng-model="edit.outcome" placeholder="Enter Outcome">
		    </div>
		</div>
		<!-- Finish -->
		<div class="form-group">
		    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-right">
				<button type="submit" class="btn btn-info" ng-click="updateSubmit()">Finish</button>
				<button type="submit" class="btn btn-danger" ng-click="edit.toggle = false;">Cancel</button>
		    </div>
		</div>
	</form>
</div>
