<div ng-controller="PatientController">
	<div class="row">
		<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<input type="text" class="form-control negative-margin-left" ng-model="query" ng-change="filter()" placeholder="Search ...">
		</div>
		<a class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 btn btn-large btn-success" ng-click="toggleCreate()">Tạo mới</a>
	</div>
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Họ và tên</th>
					<th>Tuổi</th>
					<th>Giới tính</th>
					<th>Địa chỉ</th>
					<th>Điện thoại</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="patient in patients" ng-dblclick="toggleEdit(patient.id)">
					<td>[[patient.name]]</td>
					<td>[[patient.age]]</td>
					<td>[[patient.gender]]</td>
					<td>[[patient.address]]</td>
					<td>[[patient.phone_number]]</td>
					<td>
						<ul class="list-inline">
							<li><a class="black-color" ng-click="toggleEdit(patient.id)">
								<span class="glyphicon glyphicon-pencil"></span>
							</a></li>
							<li><a class="black-color" ng-click="delete(patient.id)">
								<span class="glyphicon glyphicon-remove"></span>
							</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<paggie elements="noElements" callback="toPage(page)"></paggie>
	<!-- Edit Modal -->
    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
    	<form class="form-horizontal" ng-submit="update(current.id)">
    		<div class="modal-dialog">
    			<div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					    <h3>Thay đổi thông tin</h3>
				    </div>
				    <div class="modal-body">
						<zippy label="Họ và tên" value="current.name"></zippy>
						<zippy-number label="Tuổi" value="current.age"></zippy-number>
						<selectie label="Giới tính" value="current.gender"></selectie>
						<zippy label="Địa chỉ" value="current.address"></zippy>
						<zippy-number label="Điện thoại" value="current.phone_number"></zippy-number>
				    </div>
				    <div class="modal-footer">
					    <a class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</a>
					    <button type="submit" class="btn btn-primary">Save changes</button>
				    </div>
    			</div>
    		</div>
        </form>
    </div>
    <!-- Create Modal -->
    <div id="create-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Create" aria-hidden="true">
    	<form class="form-horizontal" ng-submit="create()">
    		<div class="modal-dialog">
    			<div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					    <h3>Tạo mới thông tin</h3>
				    </div>
				    <div class="modal-body">
						<zippy label="Họ và tên" value="new.name"></zippy>
						<zippy-number label="Tuổi" value="new.age"></zippy-number>
						<selectie label="Giới tính" value="new.gender"></selectie>
						<zippy label="Địa chỉ" value="new.address"></zippy>
						<zippy label="Điện thoại" value="new.phone_number"></zippy>
				    </div>
				    <div class="modal-footer">
					    <a class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</a>
					    <button type="submit" class="btn btn-primary">Save changes</button>
				    </div>
    			</div>
    		</div>
        </form>
    </div>
</div>
